/* Globals */
:root {
  /* Color */
  --dark: #000000D9;
  --light: #FFFFFFF2;
  --background-color: black;
  --color: var(--light);

  /* Sizes */
  --size-48-96: min(max(8.7009dvw, 48px), 96px);
  --size-32-48: min(max(4.8338dvw, 32px), 48px);
  --size-24-48: min(max(4.3504dvw, 24px), 48px);
  --size-12-24: min(max(2.1752dvw, 12px), 24px);
  --width: min(100dvw, 500px);
  --picture-size: 72px;

  /* Border radius */
  --border-radius-round: max(100vw, 100vh);
  --border-radius: 8px;
  --border-radius-2x: calc(var(--border-radius) * 2);
  --border-radius-4x: calc(var(--border-radius) * 4);

  /* Safe areas */
  --safearea-top: env(safe-area-inset-top, 0px);
  --safearea-bottom: env(safe-area-inset-bottom, 0px);
  --safearea-left: env(safe-area-inset-left, 0px);
  --safearea: var(--safe-area-top) var(--safe-area-left) var(--safe-area-bottom) var(--safe-area-right);

  /* Animation */
  --transition-time: 300ms;
}

/* Global styles */
* {
  /* Font */
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* Other */
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  overflow-anchor: auto;
  scroll-behavior: smooth;
}

*:not(img):not(video):not(canvas) {
  overflow: visible;
}

*:focus {
  outline: none;
  outline-style: none;
}

/* Html, body, etc styles */
html,
body {
  min-height: -webkit-fill-available;
  background-color: var(--background-color);
  color: var(--color);
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

html,
body,
table {
  margin: 0;
  padding: 0;
}

body {
  padding: var(--safearea);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body > * {
  display: flex;
  width : var(--width);
  padding: var(--size-12-24) 24px;
}

/* Link and button */
.link, .link:visited, .link:active, .link:disabled,
.button, .button:visited, .button:active, .button:disabled {
  opacity: 1;
  /* Appearance */
  color: inherit;
  text-decoration: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
  /* pointer event */
  pointer-events: auto;
  /* annimation */
  transition: var(--transition-time);
}

.link, .link:visited, .link:active, .link:disabled {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Main */
main {
  flex-direction: column;
  flex-grow: 1;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* User select */
nav,
img,
button,
input[type=submit],
input[type=button],
input[type=reset],
a,
.user-select-none {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
}

/* Save contact */
footer {
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  
}

footer > a {
  flex-grow: 1;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3C3E46;
  border: 0.5px solid #FFFFFF19;
  border-radius: var(--border-radius);
  text-transform: capitalize;
  font-weight: 500;
}

/* Card */
#card {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(0.47 * var(--width));
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius-4x);
  border-bottom-left-radius: var(--border-radius-4x);
  border-bottom-right-radius: var(--border-radius);
}
#card > * {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card > div {
  flex-grow: 1;
}
#card > a {
  width: 66px;
  background-color: #FFFFFF09;
  border-left: 1px solid #00000044;
}
#card::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  z-index: 0;
  background-image: linear-gradient(to bottom, #FFFFFF87, #FFFFFF2F);
}
#card::after {
  content: ' ';
  position: absolute;
  top: 0.5px;
  right: 0.5px;
  bottom: 0.5px;
  left: 0.5px;
  border-radius: inherit;
  z-index: 0;
  background-image: radial-gradient(
    100% 100% at 50% 0%,
    #616161 0%,
    #16171A 100%
  );
}

/* Picture */
#picture {
  z-index: 1;
  width: var(--picture-size);
  height: var(--picture-size);
  margin-top: calc(-0.5 * var(--picture-size));
  margin-left: var(--border-radius-4x);
  border-radius: var(--border-radius-round);
  border: 0.5px solid #FFFFFF87;
  overflow: hidden;
  background-color: #A1A1A1;
}

#picture > img {
  object-position: center;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

/* Name */
#name {
  display: flex;
  width: 100%;
  gap: 4px;
  align-items: center;
  padding: 0px 0px 12px var(--border-radius-2x);
  font-size: 16px;
}
#name > span:last-of-type {
  flex-grow: 1;
}
#name > a {
  padding: 12px;
}
#name > b {
  font-weight: 600;
}

/* Links */
#links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  padding-top: 24px;
}

#links > a {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: var(--border-radius-round);
  background-color: #191B1E;
  padding-right: 16px;
}

#links > a > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-round);
  width: 48px;
  height: 48px;
  background-color: #3C3E46;
}

#links > a > div:last-of-type {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 10px;
}

#links > a > div:last-of-type > b {
  font-size: 14px;
  font-weight: 600;
}

@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  :root {
    --width: min(100dvw, 390px);
  }
  
  .link, .link:visited, .link:active,
  .button, .button:visited, .button:active {
    cursor: pointer;
  }

  .link:hover,
  .button:hover {
    opacity: 0.8;
  }

  .link:active:hover,
  .button:active:hover {
    opacity: 1;
  }

  .link:disabled,
  .link.disabled,
  .button:disabled,
  .button.disabled {
    cursor: not-allowed;
  }
}