@import './default.css';

/* Globals */
:root {
  --background: black;
  --background-2: linear-gradient(to top, #000, #10090A);
  --color: #FFFFFFF2;

  --footer-background: linear-gradient(45deg, #6B51905F, #8DA5A05F);
  --footer-color: var(--color);
  --footer-border: 0.5px solid #FFFFFF19;

  --card-background: radial-gradient(
    100% 100% at 50% 0%,
    #616161 0%,
    #16171A 100%
  );
  --card-border-background: linear-gradient(to bottom, #FFFFFF87, #FFFFFF2F);
  --card-link-background: #FFFFFF09;
  --card-link-border-left: 1px solid #00000044;

  --picure-border: 0.5px solid #FFFFFF87;
  --picture-background: #919191;

  --link-background: #191B1E;

  --icon-filter: none;
}