@import './default.css';

/* Globals */
:root {
  --background: black;
  --color: #FFFFFFF2;

  --footer-background: linear-gradient(45deg, #E0515311, #E0DB5111, #5BE05111, #3DA5E011, #9B51E011);
  --footer-color: var(--color);
  --footer-border: 0.5px solid #FFFFFF19;

  --card-background: radial-gradient(
    100% 100% at 50% 0%,
    #E0515311, #E0DB5111, #5BE05111, #3DA5E011, #9B51E011
  );
  --card-border-background: linear-gradient(to bottom, #FFFFFF66, #AADDFF22);
  --card-link-background: #FFFFFF09;
  --card-link-border-left: 1px solid #00000044;

  --picture-border: 0.5px solid #FFFFFF87;
  --picture-background: #A1A1A1;

  --link-background: linear-gradient(45deg, #E0515309, #E0DB5109, #5BE05109, #3DA5E009, #9B51E009);

  --icon-filter: none;
}

#card {
  outline: 2px solid #FFFFFF22;
  outline-offset: -1px;
}

#card > a > img {
  filter: brightness(1.5);
}

#links > a {
  --_shadow: inset 0 0 100px #FFFFFF22;
  -webkit-box-shadow: var(--_shadow);
  box-shadow: var(--_shadow);
}

footer > a {
  --_shadow: inset 0 0 100px #AADDFF4F;
  -webkit-box-shadow: var(--_shadow);
  box-shadow: var(--_shadow);
  outline: 2px solid #FFFFFF22;
  outline-offset: -1px;
}