#link-icons > a > div:has(img[src*="email"]) {
  background: linear-gradient(to top, #0ED3FF, #1272FF);
}

#link-icons > a > div:has(img[src*="mobile"]) {
  background: linear-gradient(to top, #13C12F, #55F16E);
}

#link-icons > a > div:has(img[src*="calendar"]) {
  background: radial-gradient(#B36C00, #743F00);
}

#link-icons > a > div:has(img[src*="user"]) {
  background: linear-gradient(to top, #896236, #BD9B62);
}

#link-icons > a > div:has(img[src*="calendly"]) {
  background: #006BFF;
}

#link-icons > a > div:has(img[src*="linkedin"]) {
  background: #0063CD;
}

#link-icons > a > div:has(img[src*="facebook"]) {
  background: #0062FF;
}

#link-icons > a > div:has(img[src*="messenger"]) {
  background: radial-gradient(
    150% 150% at 0% 100%,
    #0197FF 0%,
    #A832FC 40%,
    #FF6073 80%
  );
}

#link-icons > a > div:has(img[src*="instagram"]) {
  background: none;
  background-image: radial-gradient(
    150% 100% at 30% 100%,
    #FFD300 0%,
    #FF6E00 25%,
    #FF0000A0 50%,
    transparent 100%
  ),
  radial-gradient(
    50% 50% at 100% 50%,
    #FF10D3EE 0%,
    #FF0000DD 30%,
    transparent 50%
  ),
  radial-gradient(
    100% 100% at 0% 0%,
    #7B00FF 20%,
    #FF10D3EE 80%
  )
}

#link-icons > a > div:has(img[src*="x"]) {
  background: radial-gradient(
    100% 100% at 50% 50%,
    #363E4F 0%,
    #111111 100%
  );
}

#link-icons > a > div:has(img[src*="yelp"]) {
  background: radial-gradient(
    110% 100% at 50% 0%,
    #FF5088 10%,
    #F01010 100%
  );
}