@import './default.css';

/* Globals */
:root {
  --background: white;
  --color: #000000D9;

  --footer-background: radial-gradient(
    70% 200% at 100% 20%,
    #FF8E0CAA 5%,
    transparent 50%
  ),
  radial-gradient(
    50% 200% at 0% 80%,
    #FF8E0CAA 5%,
    transparent 50%
  ),
  radial-gradient(
    80% 80% at 50% 00%,
    #FFD55055 5%,
    transparent 50%
  ),
  radial-gradient(
    100% 100% at 50% 0%,
    #D50016 0%,
    #B10009 100%
  );
  --footer-color: var(--background);
  --footer-border: 0.5px solid #FFFFFF19;

  --card-background: radial-gradient(
    100% 100% at 50% 0%,
    #D50016 0%,
    #D55500 50%,
    #B10009 100%
  );
  --card-border-background: linear-gradient(to bottom, #FFCF4087, #FFFFFF87);
  --card-link-background: #FFFFFF09;
  --card-link-border-left: 1px solid #00000044;

  --picture-border: 1px solid #FFF;
  --picture-background: radial-gradient(
    100% 100% at 50% 0%,
    #EEE 50%,
    #DDD 100%
  );

  --link-background: radial-gradient(
    150% 100% at 50% 50%,
    #FFD55005 0%,
    #B1000915 100%
    
  );
  /* --link-icon-background: radial-gradient(
    100% 100% at 0% 100%,
    #B10009 0%,
    #D50016 100%
  ); */

  --icon-filter: invert();
}

#card > div > img {
  filter: brightness(0.8);
}

#card > div > img.silver {
  filter: brightness(0.3);
}

#card > a {
  filter: invert();
}

#card > a > img {
  filter: brightness(1.1);
}

.link-lines > a > div > img,
#card > a,
#card > div {
  -webkit-mix-blend-mode: luminosity;
  mix-blend-mode: luminosity;
}