@import './default.css';

/* Globals */
:root {
  --background: white;
  --color: #000000D9;

  --footer-background: linear-gradient(45deg, #9B51E033, #3DA5E033);
  --footer-color: var(--color);
  --footer-border: 0.5px solid #FFFFFF19;

  --card-background: radial-gradient(
    100% 100% at 50% 0%,
    #616161 0%,
    #16171A 100%
  );
  --card-border-background: linear-gradient(to bottom, #FFFFFF87, #FFFFFF2F);
  --card-link-background: #FFFFFF09;
  --card-link-border-left: 1px solid #00000044;

  --picture-border: 1px solid #FFFFFF87;
  --picture-background: #A1A1A1;

  --link-background: #191B1E19;

  --icon-filter: invert();
}